@model IEnumerable< WebApp_Model__23_2__ONSITE_.Models.Department>


@{
    ViewData["Title"] = "Index";
}

<h1>Department</h1>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
       <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Head</th>
            <th>EmployeesCount</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Location</td>
                <td>@item.Head</td>
                <td>@item.EmployeesCount</td>

            </tr>
        }
    </tbody>
</table>


<a asp-controller="Department" asp-action="Create">Add New Department</a>